{{define "title"}}Gestionar Usuarios{{end}}

{{define "users-content"}}
    <h1>Gestionar Usuarios</h1>

    <div id="user-list-wrapper">
        {{template "user-list" .}}
    </div>
    <hr>
    <h2>Agregar Nuevo Usuario</h2>
    <form hx-post="/users" hx-target="#user-list-wrapper" hx-swap="innerHTML" onsubmit="this.reset()">
        <div><label>Usuario: <input type="text" name="username" required></label></div>
        <div><label>Clave: <input type="password" name="password" required></label></div>
        <button type="submit">Crear Usuario</button>
    </form>
{{end}}

{{define "user-list"}}
<h2>Usuarios Existentes</h2>
<ul>
    {{range .Users}}
    <li>{{.Username}}</li>
    {{end}}
</ul>
{{end}}